<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h4><strong>Tammer Galal <br /> Web Developer</strong></h4>
    </div>
    <div class="col-xs-12 text-center">
      <img class="img-rounded me" id="firstPicture" src="/img/me.jpg">
    </div>
    <div class="col-xs-12 text-center">
      <p class="description">Growing up I was always facinated by computers and loved technology in general. I started building my own PC's  at a fairly young age and continued to grow that hobby throughout childhood. When it came time to go to college, I began on a track for Medical School and graduated The Ohio State University
        with a Bachelors Degree in Biology. I realized that medicine wasn't the right fit for me and I had to follow my passion for technology, thats when i decided to start coding, and haven't looked back. I'm beyond excited for the journey ahead, and all
        the knowledge there is to attain</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div>
        <h3 class="siteHeader"><strong>Rock Paper Scissors!</strong></h3>
        <a href="rps.html"><img class="img-rounded" id="rpsPic" src="/img/rps.jpg"></a>
        <p class="siteDescrip">Play a game of Rock, Paper, Scissors! Created utilizing: <br /><strong>HTML, CSS3, Javascript, and Jqeury</strong></p>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <h3 class="siteHeader"><strong>Face Check</strong></h3>
      <a href="http://face-check.herokuapp.com/"><img class="img-rounded" id="faceCheckPic" src="/img/faceCheckPic.jpg"></a>
      <p class="siteDescrip">A facial and emotional recognition app Created utilizing: <br /><strong>HTML, CSS3, Javascript, Jqeury, AJAX, and 3 APIs</strong><br /><strong>Co-Creators: Long Phan and Evan Bates</strong></p>
    </div>
    <div class="col-sm-4 col-md-4">
      <h3 class="siteHeader"><strong>RU Fly?</strong></h3>
      <a href="http://rufly2.herokuapp.com/"><img class="img-rounded" id="faceCheckPic" src="/img/rufly.jpg"></a>
      <p class="siteDescrip">RU Fly is a Rutgers Web Flyer, where students can add their favorite restaurants and leave reviews, so everyone knows the best place to eat! Adding upcoming events soon!<br /><strong>HTML, CSS3, Javascript, Node.js, MySQL, Sequelize, Express, JawsDB</strong></p>
    </div>
  </div>
</div>
