html{
  position:relative;
  min-height: 100%;
}
body{
  margin-bottom: 60px;
  color: white;
}
footer{
  bottom: 0;
  position: fixed;
  width:100%;
  text-decoration: underline;
  font-weight: bold;
}
nav{
  position: absolute;
  top: 0;
}
.siteDescrip{
  padding-top: 5px
}
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
.navbar-toggle {
    z-index:3;
}
.mainContainer{
  padding-top: 50px
}
.work{
  text-align: center;
}
.portfolioBody, .repoBody{
  background-image: url("/img/background.jpg");
  background-size: 100% 100%;
}
.firstP{
  text-align: center;
}
#firstPicture{
  width: 200px;
  height: 300px;
}
#rpsPic, #faceCheckPic, #foodWFPic {
 width: 100%;
}

.list-group {
  color: white;
}
.container1 {
  left:0;
  position: absolute;

}
