<!DOCTYPE html>
<html>

<head>
  <title>Tammer Galal</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/darkly/bootstrap.css">
</head>
<body class="portfolioBody">
  <div class="bs-component">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="https://www.github.com/tammerg">Github<span class="sr-only">(current)</span></a></li>
            <li><a href="https://www.twitter.com/tammergalal">Twitter</a></li>
            <li><a href="http://www.stackoverflow.com/users/5451564/tammerg">StackOverflow</a></li>
            <li class="dropdown">
              <a href="repo.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Github Repositories<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="repo.html">Repos</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h4><strong>Tammer Galal <br /> Web Developer</strong></h4>
      </div>
      <div class="col-xs-12 text-center">
        <img class="img-rounded me" id="firstPicture" src="/img/me.jpg">
      </div>
      <div class="col-xs-12 text-center">
        <p class="description">Growing up I was always facinated by computers and loved technology in general. I started building my own PC's  at a fairly young age and continued to grow that hobby throughout childhood. When it came time to go to college, I began on a track for Medical School and graduated The Ohio State University
          with a Bachelors Degree in Biology. I realized that medicine wasn't the right fit for me and I had to follow my passion for technology, thats when i decided to start coding, and haven't looked back. I'm beyond excited for the journey ahead, and all
          the knowledge there is to attain</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div>
          <h3 class="siteHeader"><strong>Rock Paper Scissors!</strong></h3>
          <a href="rps.html"><img class="img-rounded" id="rpsPic" src="/img/rps.jpg"></a>
          <p class="siteDescrip">Play a game of Rock, Paper, Scissors! Created utilizing: <br /><strong>HTML, CSS3, Javascript, and Jqeury</strong></p>
        </div>
      </div>
      <div class="col-xs-4">
        <h3 class="siteHeader"><strong>Face Check</strong></h3>
        <a href="http://face-check.herokuapp.com/"><img class="img-rounded" id="faceCheckPic" src="/img/faceCheckPic.jpg"></a>
        <p class="siteDescrip">A facial and emotional recognition app Created utilizing: <br /><strong>HTML, CSS3, Javascript, Jqeury, AJAX, and 3 APIs</strong><br /><strong>Co-Creators: Long Phan and Evan Bates</strong></p>
      </div>
    </div>
  </div>
  <!-- <footer class="footer">
    <div class="container">
      <p class="text-muted">Place sticky footer content here.</p>
    </div>
  </footer> -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
