<!DOCTYPE html>
<html>

<head>
  <title>Tammer's Commits</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/darkly/bootstrap.css">
</head>

<body>
  <div class="bs-component">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Tammer Galal</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="https://github.com/tammerg">Github<span class="sr-only">(current)</span></a></li>
            <li><a href="https://twitter.com/tammergalal">Twitter</a></li>
            <li><a href="http://stackoverflow.com/users/5451564/tammerg">StackOverflow</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Work<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="repo.html">GitHub Repos</a></li>
                <li><a href="rps.html">Rock, Paper, Scissors</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="container container1">
    <div class="row">
      <div class="col-md-6 col col-xs-6">
        <div class="list-group">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-6 col-xs-6 col-xs-offset-6">
    <table class="table table-bordered">
      <thead>
        <th>sha</th>
        <th>Date</th>
        <th>Message</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <!-- <footer class="footer">
    <div class="container text-center">
      <p class="text-muted">Place sticky footer content here.</p>
    </div>
  </footer> -->

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/commits.js"></script>
  <script type="text/javascript" src="../js/repos.js"></script>
</body>

</html>
